<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Book_shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/app.js"></script>
    <style>.checked {color: lawngreen;}</style>
</head>
<body>
<div class="container">
    {% block main %}
    {% endblock %}

    {% block detail %}
    {% endblock %}

    {% block update_book %}
    {% endblock %}

    {% block login %}
    {% endblock %}

    {% block register %}
    {% endblock %}

    {% block complete %}
    {% endblock %}

</div>
</body>
</html>